body{  
  background-color: #FFFFFF;
  display: block;
  height: auto;
  margin: auto;
  padding: 0px;
  max-width: 1440px;
  height: 1390px;
}

/* container de toute la page */

.contain-page{  
  display: block;
  width: 950px;
  height: 1388px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  top: 5px; 
  box-sizing: border-box;
  
  }
  a{
    text-decoration: none;
    color: #000;
  }



*{
  font-family: 'Raleway', sans-serif, Verdana, Arial;
}


li{
  list-style-type: none;
}

/* en-tête */
header{
  display: flex;
  align-items: center;
  width: 900px;
  height: 80px;
  margin: auto;
  z-index: 1;    
}

/* Menu de navigation */
 header nav{
  height: 50px;
  padding: 0px;
  margin: 0px; 
  color: blue;
  display: flex;
  align-items: center;

}

/* image logo du site*/
header img{

  object-fit: cover;
  float: left;
  border: none;
  margin-left: 10px;
  height: 40px;

}

/* positionnement menu de navigation */
nav ul{
  position: absolute;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-top: 5px;
  color: blue;
  transition-duration: 2s;
  margin-left: 480px;
}

nav ul li{
  margin-left: 35px;
  font-size: 0.8em;
  border: none;
  height: 30px;
  padding: 15px 2px 0px 0px;

}

/*pour donner couleur à S'inscrire*/

nav ul li strong{
  font-weight: bold;
  color: blue;
  font-size: 1em;

  }

nav ul li a{
  text-decoration: none;
  color: blue;
}
  /* couleur à Activités */
nav ul li span{
  color: rgb(85,85,85);
}

/* survol des cellules*/
nav ul li:hover{
  font-size: 0.8em;
  padding: 18px 0px 0px 0px;
  height: 30px;
  color: blue;
  text-decoration: none;
  border-top: 2px solid #0065FC; 

}

  /* zone de recherche de la ville   */
.localise{
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  font-weight: bold;
  top: 75px;
  width: 880px;
  height: auto;
  margin: auto;

}

/* titre h1 et sa suite */
.localise h1{
  display: flex;
  margin-left: 15px;
  font-size: 1.12em;
  line-height: 0px;

}

/* Phrase en dessous du titre h1 */
.localise p{
  display: flex;
  font-size: 0.7em;
  margin-left: 20px;
  font-weight: normal;
  line-height: 0px;
}

/* Mise en page zone type search et bouton rechercher*/

.choix-premier{
  margin-left: 10px;
}

/* mise en page pour le bouton rechercher */
.button {
  border: none;
  color: white;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: blue;
  padding: 5px 10px 5px 10px;
  margin-left: -1px;
}

/* input de la zone de recherche*/
#gsearch{
  border: none;
  height: 30px;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 9px;
}

/* icone cachée pour le mobile*/
.choix .fa-search {
  display: none;
}

/* icone de recherche */
.localise .fa-map-marker-alt{
  padding-top: 6px;
  padding-left: 10px;
  margin-right: -5px;
  margin-left: 10px;
  height: 24px;
  width: 20px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-left: none;  
  margin-bottom: 5px;
  color: #000000;
  background-color: rgb(240,240,240);

}

 /*  Mise en page NIveau des filtres d'options */
.choix-deuxieme{
  height: 50px;
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: #FFFFFF;
  width: 940px;
  height: 50px;
  margin-left: 5px;
  top: 150px;  
  font-weight: bold;
}

/*Le titre :filtres */
.label-filtre{
  font-size: 1.3em;
  margin-left: 10px;
  
}

/*  les icones du filtres */
.fa-dog, .fa-child, .fa-heart, .fa-money-bill-wave-alt{ 

  background-color: #DEEBFF;
  border-radius: 50%;
  padding: 7px;
  padding-top: 5px;
  top: 104px;
  font-size: 12px;
  color: blue;
  border: none;   
  justify-content: center;
  margin-left: -36px;
  position: absolute;
}

/* container des filtres d'option*/
.choix-deuxieme .mes-filtres{
  object-position: left;
  display: inline-flex;
  flex-direction: row;
  margin-left: -25px;
  
}

/*chaque filtre */
.mes-filtres .unit-filtre{
  margin-right: 10px;
}


/* ici la selection d'un filtre avec input caché precedemment */
.choix-deuxieme .unit-filtre input[type=checkbox]:checked ~ label{
  background-color: rgb(220,220,220);
  color: blue;
  font-family: cursive;
  font-size: 15px;

}


/* label de chaque filtre */
.filter-option{

  border: 0.01em gray solid;
  padding: 2px 12px 2px 35px;  
  color: #000;
  font-size: 15px;
  line-height: 16px;
  font-weight: bold;
  border-radius: 16px;

}


/* survol des filtres d'option */
.filter-option:hover{  
  background-color: gray;
  color: #000000;
  text-decoration: underline;

}

/*cacher les input filtres d'option */
.unit-filtre input{
  display: none;
}

/* messages à l'intérieur des labels*/
.unit-filter .filter-option_label{
  position: absolute;
  font-size: 1.5em;
  line-height: 18px;
  color: #A01020;
}

/* icone d'information plus de 500 logements */
.localise .logement-info p .fa-info{

  position: relative;
  background-color: rgb(244,244,244);
  font-size: 0.7em;
  top: -5px;
  color: blue;
  margin: 0px 10px 0px 0px; 
  border-radius: 50%;  
  padding: 6px 8px 11px 8px;  

}

  /*phrase point d'information*/
.logement-info{
  display: flex;
  margin-left: 5px;
  padding-left: 0px;
  position: relative;
  font-size: 0.9em;
  font-weight: normal;
  height: 30px;

}


/* SECTION: LES PLUS POPULAIRES LIBELLE de Droite */
.libelle-droite{
  position: relative;
  width: 280px;
  height: 480px;
  top: 180px;
  left: 660px;
  background-color: #F2F2F2;
  display: inline-block;
  flex-direction: column;
  
}


/* ===== ICONE de LES PLUS POPULAIRES =====*/
.fa-chart-line{
  color: black;  
  margin-right: 15px;
  margin-left: 45px;
  margin-bottom: 20px;

}


/*Titre h2 libelle de droite */

.libelle-droite h2{
  margin-bottom: 0px;
  margin-left: 15px;
  font-size: 17px;

}

/* réglage de la taille des photos */
.hotel-lpp .imag img{
  object-fit: cover;                     
  width: 110px;
  height: 108px;
  border-top-left-radius: 11%;
  border-bottom-left-radius: 11%;
}

/* Hauteur de chaque photo et son information */
.cote-droit .hotel-lpp a{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: left;
  background-color: #F1F1F1;
  width: 250px;
  height: 110px;
  margin-left: 15px; 
  border-radius: 10%;
  border: 4px white solid;
  margin-bottom: 15px;
}

/* titre h5 des noms d'hotels */
.hotel-lpp .name-cite h5{
  font-weight: bold;
  display: inline;
  margin-top: 2px;
}
.name-cite p{
  font-size: 0.7em;
}

/* L'information qui accompagne la photo */
.hotel-lpp .information-lpp{
  display: inline-block;    
  width: 108px;
  height: 110px;
  line-height: 10px;
  padding: 5px 20px 0px 10px;
  margin-top: -1px;
  background-color: white;
  font-size: 0.91em;
  text-decoration: none;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

/* espace créé entre les etoiles et le nom du site */
.white-space{
  width: 100px;
  height: 20px; 
}

.notation-lpp{
  font-size: 0.61em;
  padding-left: 5px;

}

/* couleur des étoiles */
.notation-lpp i{
  color: blue;
}

/*div de notation etoile*/
.notation-lpp span{
  color: gray;

}

.name-cite a{
  text-decoration: none;
  color: black;
  font-size: 0.8em;
}


/* DEBUT HEBERGEMENTS a MARSEILLE   */
.heberge{
  position: absolute;
  top: 260px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  background-color: #F2F2F2;
  width: 645px;
  height: 480px;
  border: none;
}

.heberge h2{
  margin-left: 20px;
  font-size: 1.2em;
  z-index: 14;
}

.heberge p strong a{
  position: absolute;
  top: 450px;
  margin-left: 40px;
  font-size: 1em;
  color: #000000;

}


.hebergement-am a{
  text-decoration: none;  
  
}

/* Container hebergement à marseille backg #F2F2F2  */
.heberge .container-hebergement-am{ 
  top: 20px;
  left: 20px;
  width: 650px;
  height: 380px;
  padding-left: 10px;
  display: flex;  
  flex-direction: row;
  flex-wrap: wrap;
 
}

/* Un hebergement*/
.container-hebergement-am .hebergement-am{
  display: flex;
  flex-direction: row;
  margin: 0px 5px 5px 5px;
  padding-bottom: 0px;
  background-color: #F1F1F1;
  width: 189px;
  height: 168px;
  border-radius: 7%;
  border: 3px white solid;

}

/* alignement */
.heb-div-column{
  display: flex;
  flex-direction: column;
}

/* taille de l'image et ses bordures*/
.heb-div-column .imag img{
  object-fit: cover;
  width: 190px;
  height: 100px;
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
}

/*  inf-am pour information à Marseille */
.heb-div-column .inf-am{

  position: relative;
  line-height: 0px;
  background-color: #FFFFFF;
  padding-left: 10px;
  color: #000000;
}
/**/
.heb-div-column .inf-am span h5{
  font-size: 0.9em;
  font-weight: bold;
  height: 10px;
  line-height: 0px;
}

.heb-div-column .inf-am p{
  font-size: 0.61em;
}

  /* notation pour les etoiles bleues*/
.heb-div-column .notation-am{
  background-color: #FFFFFF;
  font-size: 0.61em;
  line-height: 0px;
  padding: 0px 0px 2px 10px;
  color: blue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

/*  notation avec span pour les étoiles grises*/
.heb-div-column .notation-am span{
  color: gray;
}

.hebergement-am{  
  border: 0px gray solid;
  height: 190px;
  margin-top: 25px;
  background-color: #F2F2F2;  
  border-radius: 6%;

}

.heberge p a{
  text-decoration: none;
  font-size: 0.81em;
}


/*  SECTION Acitvités à Marseille   */
.sectio{
  position: absolute;
  display: flex;
  margin: auto;
  margin-left: 10px; 
  top: 770px;
  width: 930px;
  height: 440px;
  background-color: rgb(246,246,246);
}

/* titre de la section */
.sectio h2{
  margin-left: 25px;
  font-size: 1.2em;
}

/*Vieux port et parc nat calanques*/
.sectio .hotel6, .hotel3{
  position: absolute;
  flex-direction: column;
  display: flex;
  top: 75px;
  left: 20px;
  margin-left: 5px;
  margin-right: 20px;
  width: 200px;
  height: 290px;
  border-top: 5px;
  border-radius: 5%;  
}

/* margin parc national dess calanques*/
.hotel3{
  left: 485px;
}

/* images: hotel vieux port et parc national des calanques */
.hotel6 .imag-am img, .hotel3 .imag-am img{
  object-fit: cover;
  width: 200px;
  height: 285px;
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
}


/* texte dessous des activités */
.info-hotel-activi h5{  
  background-color: #FFFFFF;
  height: 30px;
  margin-top: -3px;
  padding: 6px 0px 0px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 0.7em;
  font-weight: bold;

}


/*pomegues, frioul, notre-dame et longchamp */
.sectio .hotel5, .hotel1, .hotel4{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 75px;
  left: 255px;
  margin-right: 10px;
  width: 200px;
  height: 165px;
  border: 0px gray solid;
  border-bottom: 2px;
  border-radius: 3%;
} 

/* dimension images pomegues, frioul, notre-dame et longchamp */
.hotel1, .hotel4, .imag-am img{
  object-fit: cover;
  width: 200px;
  height: 110px;
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
}

/* emplacement iles du frioul */
.hotel5 .imag-am img{
  height: 150px;
}


/* Iles frioul */
.hotel2 {
  position: absolute;
  top: 280px;
  left: 255px;
  width: 200px;
  height: 135px;
}

/* hateur de Iles du Frioul */
.hotel2 .imag-am img{
  height: 80px;

}


/* notre dame */
.hotel1{
  top: 75px;
  left: 720px;
}

/*parc lonchamps */
.hotel4 {
  top: 250px;
  left: 720px;
}


  /* MISE EN PAGE du PIED de PAGE
          container des sousfoot */

footer .menu-foot{
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  top: 1240px;
  width: 940px;
  height: 140px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;

}

.sousfoot{
  width: 30%;
  display: inline-block;
  flex-direction: column;
  font-size: 0.7em;
  line-height: 0.7em;
  margin-right: 15px;
  margin-left: 10px;
  padding-top: 25px;  
}

.menu-foot .sousfoot a{
  display: block;
  text-decoration: none;    
  font-weight: normal;
  color: black;
}

.sousfoot a:hover{
  font-weight: bold;
  display: block;
  flex-direction: row;
  font-size: 1em;    
  color: blue;
  margin-left: 15px;
  border-left: 5px solid gray;
  cursor: pointer;

}



  /* PHASE: TABLETTE    */
@media screen and (min-width: 678px) and (max-width: 949px){
  body {
    background-color: #FFFFFF;
    height: auto;
    margin: auto;
   display: flex;
    padding: 0px;

    /*
    min-width: 678px;*/
    }
    .contain-page{  
      min-width: 678px;
      height: 1650px;  
      display: inline-block;
      margin-left: 5%;
      margin-right: -5%;
    }

    header{
      position: absolute;
      top: 5px;
      width: 100%;
      display: flex;
    }
    
    header .header nav .heb-act-sin{
      background-color: gray;
      border: 1px gray solid;
    }
    
  header .header{
    width: 149px;
    top: 5px;
    margin-left: 30px;
  }
  header nav{
    display: flex;
    margin-left: -35%;
  }


   /*  Mise en page NIveau des filtres d'options */
   .choix-deuxieme{
    width: 80%;
    height: 75px;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    background-color: #FFFFFF;
   }

  /*  les icones du filtres */
  .fa-dog, .fa-child, .fa-heart, .fa-money-bill-wave-alt{
    top: 122px;
  }

  /* container des filtres d'option*/
  .choix-deuxieme .mes-filtres{
    display: flex;
    flex-direction: row;    
    margin-top: 35px;
    margin-left: -80px;  
  }

  /*chaque filtre */
  .mes-filtres .unit-filtre{
    margin-right: 1px;
  }

  /* icone d'information plus de 500 logements */
  .localise .logement-info p .fa-info{ 
    top: -10px;     
  }


  /*Les plus populaires  */
  .libelle-droite{
  
    width: 275px;
    height: 530px;
    top: 270px;
    left: 63%;
    display: inline-flex;
    flex-direction: column;    
  }

  /* ===== ICONE de LES PLUS POPULAIRES =====*/
  .fa-chart-line{  
    margin-left: 25px;
  }

  /*Titre h2 libelle de droite */
  .libelle-droite h2{
    font-size: 18px;
  }

  /* marge de chaque photo et son information en TABLETTE */
  .cote-droit .hotel-lpp a{
    margin: auto;
    margin-bottom: 40px;
  }


  /* DEBUT HEBERGEMENTS a MARSEILLE   */
  .heberge{ 
    position: absolute;
    top: 270px;
    display: inline-flex;
    left: 7%;
    width: 495px;
    height: 680px;
    border: none;
    background-color: #F2F2F2;

  }

  /* Message: Afficher plus */
  .heberge p strong a{
    position: absolute;
    top: 640px;
    margin-left: 13px;
    font-size: 0.71em;
  }


  /* Container hebergement à marseille */
  .heberge .container-hebergement-am{
    margin-left: 3%;
    width: 465px;
    height: 575px;
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    
  }

  /* Un hebergement*/
  .container-hebergement-am .hebergement-am{
    display: flex;
    flex-direction: row;
    margin-right: 7%;
    /*
  
    
    margin: 0px 45px 2px 0px;*/
    margin-bottom: 5%;
    background-color: #F1F1F1;
    width: 189px;
    height: 168px;
    border: 1px white solid;
  }

  /* taille des etoiles bleues */
  .notation-am i{
    font-size: 0.85em;
  }

  /*  SECTION Acitvités à Marseille   */
  .sectio{
    display: block;
    margin: auto;
    justify-content: center;
    top: 960px;
    width: 100%;
    height: 570px;
    background-color: rgb(250,250,240);

  }

  /* titre de la section */
  .sectio h2{
    margin-left: 35px;
    font-size: 1.2em;
  }


  /*Vieux port et parc nat calanques*/
  .sectio .hotel6, .hotel3{  
    left: 7%;
    height: 300px;
  }


  /* images: hotel vieux port et parc national des calanques */
  .hotel6 .imag-am img, .hotel3 .imag-am img{
    height: 275px;
  }

  /* margin parc national dess calanques*/
  .hotel3{
    left: 68%;
  }

  /* Iles frioul */
  .hotel2{
    top: 270px;
    left: 38%;
  }

  /* Fort de pomegues */
   .sectio .hotel5{
    top: 75px;
    left: 38%;
  } 

  /* notre dame */
  .hotel1{
    top: 405px;
    left: 20%;
  }

  /*parc lonchamps */
  .hotel4 {
    top: 405px;
    left: 50%;
  }

  /* MISE EN PAGE du PIED de PAGE
          container des sousfoot */

  footer .menu-foot {
    position: absolute;
    display: block;
    top: 1550px;
    width: 768px;
    height: auto;
    margin-left: 0px;
  
  }
  .menu-foot .sousfoot{
    margin-right: 5px;
    width: 30%;
    padding: 0px;
  
  }

  .sousfoot a:hover{  
    font-size: 1em;    
    margin: 0px;
  }

}



/*Les mobiles taille ecran 414px */
@media screen and (max-width: 677px){
  body {
    background-color: #FFFFFF;
    height: 3395px;
    max-width: 677px;
    margin: auto;
    margin-left: 10%;
    margin-right: -20%;
    padding: 0px;
  
    }

  /* contenair page en TABLETTE */
  .contain-page{
    display: flex;    
    width: 414px; 
    height: 3390px;
    margin-left: 0px;
    margin-right: auto;
  
    
  }


  header{

    position: absolute;
    top: 0px;
    height: 65px;
    background-color: white;
    border-bottom: 0.001px solid #F1F1F1;
    width: 400px;
  }

  /* positionnement menu de navigation */

  header nav ul{
    top: 10px;
    position: relative;    
    display: flex;
    transition-duration: 0s;
    margin-left: -10px;
  }  

  nav ul li{  
    font-size: 0.71em;
    height: 20px;
    padding: 0px 3px 5px 3px;
  
  }
  
  header nav .heb-act-sin .nav-ul-li-hebergement{
    margin-top: 5px;
    margin-left: -5px;
  }

  header .heb-act-sin .nav-ul-li-activite{
    margin-left: 130px;
  }
  header .heb-act-sin .nav-ul-li-inscrire{
    position: relative;
    top: -30px;
    margin-left: -40px;
  }

  /* image logo du site*/  
  header .header img{
    position: absolute;
    top: 5px; 
    margin-left: 20px;   
    border: 1px white solid;
    align-items: baseline;
    height: 30px;
  }

  /* survol des cellules*/
  .heb-act-sin li:hover{
    font-size: 0.71em;
    padding: 0px 5px 5px 5px;
    height: 20px;
    color: blue;
    text-decoration: none;
    border-top: none;
    border-bottom: 2px solid #0065FC; 

  }
  /* zone de recherche de la ville   */
  
  .localise{
    top: 73px;
    display: flex;
    width: 395px;
    height: 285px;

  }


  /* titre h1 et sa suite */
  .localise h1{
    top: 0px;
    width: 75%;
    margin: auto;
    font-size: 1.4em;
    text-align: center;    
    line-height: 1em;
  }

  /* Phrase en dessous du titre h1 */
  .localise p{
    display: flex;
    font-size: 0.7em;
    margin-left: 20px;
    font-weight: normal;
    line-height: 0px;
  }
  .choix-premier button{
    display: none;
  }
  .choix-premier input{
    font-size: 0.81em;
  }

  /* Icone fa-search qui apparait en version mobile */
  .choix .choix-premier .fa-search{
    top: -38px;
    left: 273px;
    display: flex;
    position: relative;
    color: white;
    width: 25px;
    height: 25px;
    padding: 7px 1px 1px 10px;
    background-color: blue;
    border-radius: 10px;
    cursor: pointer;

  }

  /*  Mise en page NIveau des filtres d'options */
  .choix-deuxieme{
    top: 0px;
    margin-left: 5px;
    width: 98%;
    height: 150px;
    display: table;
    flex-direction: column;

   }

  /*  les icones du filtres */
  .fa-dog, .fa-child, .fa-heart, .fa-money-bill-wave-alt{
    display: flex;
    position: absolute;
    top: -4px;
    left: 35px;
  }

  /* container des filtres d'option*/
  .choix-deuxieme .mes-filtres{
    line-height: 0.8em;
    width: 300px;
    height: 90px;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;   
    margin-top: 2px;
    margin-left: 0px;  
  }

  /*chaque filtre */  
  .mes-filtres .unit-filtre{
    position: relative;
    margin-top: 5px;
    margin-right: 25px;
    margin-bottom: 10px;
  }
  .localise .logement-info{
    margin-top: -5px;
  }

  /* icone d'information plus de 500 logements */
  .localise .logement-info p .fa-info{ 
    top: -8px;     
  }


  /*Les plus populaires  */
  .libelle-droite{
    position: relative;
    display: flex;
    width: 395px;
    height: 465px;
    margin: auto;
    margin-top: 225px;
    left: 5px;  
   
  }

  /* ===== ICONE de LES PLUS POPULAIRES =====*/
  .fa-chart-line{  
    margin-left: 55px;
  }
  .cote-droit{
    margin-left: 35px; 

  }


  /*Titre h2 libelle de droite */
  .libelle-droite h2{
    margin-left: 40px;
    font-size: 18px;
  }

  /* marge de chaque photo et son information en TABLETTE */
  .cote-droit .hotel-lpp{  
    margin-bottom: 10px;
  }


  /* DEBUT HEBERGEMENTS a MARSEILLE   */
  .heberge{    
    top: 875px;
    display: flex;
    margin: auto;
    width: 390px;
    height: 1215px;
    border: none;
    background-color: #F2F2F2;
  }

  .heberge h2{
    margin-left: 50px;
    font-size: 1.1em;
  }
  /* Message: Afficher plus */
  .heberge p strong a{
    position: absolute;
    top: 1185px;
    left: 20px;
    font-size: 0.71em;
  }

  /* Container hebergement à marseille */
  .heberge .container-hebergement-am{
    left: 0px;
    width: 380px;
    height: 1260px;
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
  
  }

  /* Un hebergement*/
  .container-hebergement-am .hebergement-am{
    display: flex;
    flex-direction: row;  
    margin: 0px 2px 10px 40px;
    padding-bottom: 0px;
    background-color: #F1F1F1;
    width: 280px;
    height: 175px;
    border: 2px white solid;
  }

  /* largeur de l'image */
  .heb-div-column .imag img{
    width: 280px;
  }


  /*  notation avec span pour les étoiles grises*/
  .heb-div-column .notation-am span{
    font-size: 0.85em;
    color: gray;

  }


  /* section ACTIVITES à MARSEILLE */  
  .sectio{
    position: absolute;
    top: 2075px;
    width: 390px;
    height: 930px;
    margin: auto;
    padding: 0px;
    margin-left: 0px;
    display: block;
    background-color: rgb(251,251,251);
    z-index: 15;
  }

  /* titre de la section */  
  .sectio h2{
    margin-left: 45px;
    font-size: 1.1em;
  }

  .sectio-hotel h5{
    margin-left: 0px;
    width: 290px;
  }

  /* hotel pour designer les Activités à Marseille et sont numérotés de 1 à 6 */  
  .sectio-hotel, .hotel5, .hotel2, .hotel1, .hotel4, .hotel6, .hotel3{  
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 30px;
    width: 300px;
    height: 90px;  
    border: 0px gray solid;
    border-top: 0px gray solid;
    border-bottom: 2px;
    border-radius: 3%;
  }
  .imag-am img{
    width: 270px;
    height: 80px;
  }

  /* Mise en format les images: Activités à sur MOBILE*/  
  .hotel6 .imag-am img, .hotel3 .imag-am img, .hotel2 .imag-am img, .hotel4 .imag-am img, .hotel5 .imag-am img, .hotel1 .imag-am img{
    object-fit: cover;
    width: 300px;
    height: 100px;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
  }



  /* Emplacement Vieux Port */  
  .sectio-hotel .hotel6{
    top: 5px; 
    left: 10px;
  }

  /* Fort de Pomègues */
  .sectio-hotel .hotel5{
    position: relative;
    top: 150px;
    left: 15px;
  }

  /* Iles Frioul */
  .hotel2{
    top: 295px;
    left: 15px;
  }

  /*Emplacement Parc National des Calanques */
  .hotel3{
    top: 440px;
    left: 10px;
  }

  /* Emplacement notre Dame de la garde */
  .hotel1{
    top: 585px;
    left: 15px;
  }
  /* Emplacement parc Longchamp*/
  .hotel4{
    top: 730px;
    left: 15px;    
  }




  /* Partie PIED DE PAGE */
  footer{
    position: absolute;
    display: block;
    width: 414px;  
    top: 1765px;
    margin-left: 20px;
    margin-bottom: 10px;
    z-index: 1000;
  }

  
  footer .menu-foot{
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 400px;     
    background-color: #F2F2F2;
  }

  .sousfoot h3, p{
    line-height: 0.61em;
  }

  .menu-foot .sousfoot{
    line-height: 0px;
    font-size: 1em;
    margin-left: 40px;
    margin-top: 0px;
    width: 95%;
  }


  /* survol cellule pied de page*/

  .sousfoot a:hover{
    font-size: 1em;
    border-left: 2px solid #F3FA;
    margin-left: 10px;

  }
}



/* orientation paysage et portrait sur petits écrans */

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }

}


@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}