@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body{
	background-color: white;
	max-width: 1440px;
  margin: 0;

	font-family: 'Raleway', sans-serif, Verdana, Arial;
}
.contain-page{
  max-width: 1440px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

li{
	list-style-type: none;
}

/* en-tête */
header{
  display: flex;
  align-items: center;
  max-width: 1346px;
  height: 90px;
  margin: auto;
  left: 48px;
  top: 0px;
  background-color: yellow;
}

/* Menu de navigation */

 header nav{
  color: blue;
}

img{
  float: left;
  margin-left: 10px;
  height: 60px;
  width: 120px;
}
nav ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-top: 5px;
  color: blue;
  margin-left: 700px;
}


nav ul li{
  display: flex;
  flex-direction: row;
    margin-left: 35px;
  font-size: 1.5em;
  color: blue;
}
nav ul li strong{
  font-weight: bold;
  color: blue;
  font-size: 1.1em;

}
nav ul li a{
  text-decoration: none;
  color: blue;
}
nav ul li span{
  color: rgb(85,85,85);
}


nav ul li:hover{
  color: blue;
  text-decoration: none;
  padding-right: 4px;
  border-left: 5px solid #0065FC;
  
}
nav ul li:active{
  color: black;
  font-size: 1.3em;
  font-weight: bold;

}
.upline{
  display: flex;
  position: absolute;
  width: 190px; 
  left: 935px;
  right: 300px;
  top: 0px;
  margin: auto;
  height: 0px;
  color: blue;
  border: 1px blue solid;
}
/*
header{
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 1346px;
	height: 70px;
	left: 25px;
  top: 16px;
  margin-left: 20px;
	background-color: white;
}

/* Menu de navigation */
/*
 header nav{
	color: blue;
}

#trait_dessus{
  position: absolute;
  border-top: 2px blue solid;
  width: 170px;
  top: 2px;
  margin-left: 58%;


}

nav ul{
	display: flex;
	flex-direction: row;
	list-style-type: none;
	padding-top: 2px;
	color: blue;
	margin-left: 650px;
}
nav ul li{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 5em;
  margin-left: 30px;
	font-size: 1em;
	color: blue;
}
nav ul li .inscrire{
	font-weight: bold;
	color: blue;
}
nav ul li a{
	text-decoration: none;
	color: blue;
}
nav ul li span{
  color: rgb(85,85,85);
}
.logo img
{
    width: 100px;
    height: 50px;
}
nav ul li:hover{
	color: blue;
  font-weight: bold;
  background-color: #F2F2F2;
	text-decoration: none;
	padding-right: 4px;
}
nav ul li:active{
	color: black;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #0065FC;
}

/* zone de recherche de la ville   */
.localise{
  position: absolute;
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	font-weight: bold;
  top: 60px;
	width: 1360px;
	height: 100px;
  margin: auto;  
  padding-right: 10px;
}
.localise p{
  font-size: 0.7em;
}
.localise p strong{
  font-size: 1.5em;
}
.localise span{
	float: right;
  padding: 8px;
	border: 1px gray solid;
	background-color: #0065FC;
	color: #F2F2F2;
	font-weight: bold;
  line-height: 20px;
	margin-left: -5px;
	text-align: justify;	
	padding-right: 20px;
	height: 23px;
	border-radius: 0px 10px 10px 0px;
	padding-top: 5px;
}
.ico{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #DEEBFF;
}
.localise tr td input{
  font-size: 20px;
  border: none;
  height: 35px;
  margin-left: -10px;
  background-color: #F2F2F2;
}
.localise tr td .fa-search{
  display: none;
}
input{
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 1.5rem;
  box-sizing: border-box;
  width: 14rem;
  font-size: 1rem;
  font-weight: bold;
  
 /* 
  border: none;
  height: 35px;
  font-size: 1.2em;
  font-weight: bold;
  color: #000000;
  border: 1px 0px 1px 0px;

  width: 250px;
  margin-right: 10px;
  */
}
.localise tr td .fa-map-marker-alt{
	left: 27px;
  padding-top: 6px;
  padding-left: 10px;
  margin-right: -5px;
	height: 30px;
	width: 30px;
  border-radius: 35%;
	margin-bottom: 5px;
  color: #000000;
  background-color: #DEEBFF;
}
.rechercher a{
	padding-left: 10px;
  color: #F2F2F2;
  text-decoration: none;
}
.inp{
  border: 1px gray solid;
}
.fa-searc i{
  display: none;
}

tr td a{
  color: black;
  text-decoration: none;
}
.localise tr td:hover{
  padding-right: 5px;
  border-bottom: 3px blue solid;
}
.localise input:hover{
  font-size: 1.3em;
  font-weight: bold;

}

/* DEBUT Filtre  */
.filtre{
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  /*
  position: absolute;
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	width: 1340px;
	height: 120px;
	top: 161px;
  margin-left: 20px;
  margin: auto;	
  padding-right: 0px;
  */
}
.filtre h2{
  margin: 0 2rem 1rem 0;
  display: flex;
  align-items: center;
  /*

  padding-top: 8px;
  margin-left: 5px;
  font-size: 1.4em;
  top: 15px;
  */
}
.choix-filtre{
  position: absolute;
  display: flex;
	top: 20px;  
  margin-left: 70px;
  height: 15px;
}
.option{
  display: flex;
  font-size: 1.3em;
  align-items: center;
	font-weight: bold;
	width: auto;
	background-color: #F2F2F2;
	height: 25px;
	border: 1px gray solid;
	border-radius: 26px;
}
.option > i{
  font-size: 20px;
}
.option > input{
  flex: 1;
  height: 20px;
  border: none;  
  font-size: 10px;
  font-weight: bold;
  margin-left: 10px;
  border-radius: 25px;
}
.choix-filtre .option:hover{
  background-color: #F2F2F2;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  padding-top: 10px;
}
.fa-dog, .fa-child, .fa-heart, .fa-money-bill-wave-alt{
	height: 25px;
	width: 25px;
	border: 0px gray solid;
	font-size: 1em;
	margin-right: 5px;
	border-radius: 40%;
	background-color: #DEEBFF;
	padding-left: 5px;
  padding-top: 5px;
	color: blue;
}
.filtre p span{
  color: blue;
  width: auto;
  height: 10px;
  width: 22px;
  margin-right: 5px;
  border-radius: 40%;
  padding-left: 5px;
  padding-top: 5px;
  color: #000000;
}
.fa-info{
  content: "\ea0c";
  background-color: #DEEBFF;
  color: blue;
  height: 13px;
  width: 10px;
  border: 0.1em gray solid;
  font-size: 0.6em;
  margin-right: 5px;
  border-radius: 45%;
  padding-left: 8px;
  padding-top: 7px;
}

/*========== FIN FILTRE==============================*/


/*=========== LES VILLES POPULAIRES
			 LIBELLE de Droite    =================*/

.libelle-droite{
  position: relative;
  width: 380px;
  height: 660px;
  top: 245px;
  left: 950px;
  padding-right: auto;
  background-color: #F2F2F2;
  display: inline-block;
  flex-direction: column;
  border: 0px gray solid;


}

/* ===== ICONE de LES PLUS POPULAIRES =====*/
.fa-chart-line{
  color: black;
  margin-right: 20px;
  margin-left: 70px;
  float: right;
  margin-bottom: 10px;
}
/*  Titre h2 libelle de droite  */

.libelle-droite h2{
  float: right;
  margin-bottom: 0px;
  margin-left: 20px;
}

/*----------réglage de la taille des photos--------------*/
.hot .imag img{                      
	width: 140px;
	height: 140px;
	border-top-left-radius: 5%;
	border-bottom-left-radius: 5%;
}

/* Hauteur de chaque photo et son information ----------*/

.cote-droit .hot{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	float: left;
	background-color: #FFFFFF;
	width: 300px;
	height: 140px;
	margin-left: 6px;  
  margin-top: 5px;
	border-radius: 5%;
	border: 2px white solid;
	margin-right: 5px;
	margin-bottom: 15px;
}
.name-cite{
  margin-left: 1px;

}

/*-------------- L'information qui accompagne la photo----------*/
.hot .information{
	display: inline-block;	 	
	width: 164px;
	height: 137px;
  padding-top: 2px;
	margin-left: 5px;
  background-color: white;
  font-size: 0.91em;
  border-top-right-radius: 10%;
}
.white-space{
  width: 100px;
  height: 65px; 
} 
.notation i{
  color: blue;
}
.notation span{
  color: gray;
}
.name-cite a{
  text-decoration: none;
  color: black;
}
.heb a{
  text-decoration: none;
}
.hotel .information{
  text-decoration: none;
}

/*======================FIN LIBELLE dE DROITE ==================*/


/*======================= DEBUT HEBERGEMENTS a MARSEILLE    ===========================*/
.heberge{
	position: absolute;
	top: 315px;
	display: flex;
  background-color: #F2F2F2;
  margin-left: 10px;
  width: 900px;
	height: 600px;
  margin-right: 390px;
}
.heberge h2{
	margin-left: 30px;
  margin-bottom: 10px;
}

.heberge p{
  position: absolute;
  left: 2px;
  top: 530px;
  margin-left: 23px;

}
/* bac #F2F2F2*/
#container-heb{
  position: absolute;
  top: 30px;
  width: 840px;
  display: flex;
  margin-left: 5px;
  flex-direction: column;
  background-color: #F2F2F2;

}
.first-line, .second-line{
  display: flex;
  flex-direction: row;
}
.heb-div-column{
  display: flex;
  flex-direction: column;
}
.heb-div-column .imag img{
  width: 230px;
  height: 130px;
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
}
.heb-div-column .inf{
  position: relative;
  width: 220px;
  height: 50px;
  background-color: #FFFFFF;
  padding-left: 10px;
  color: #000000;
}
.heb-div-column .notation{
  background-color: #FFFFFF;
  width: 220px;
  padding-left: 10px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;

}


.heb{  
  border: 0px gray solid;
	height: 200px;
  margin-top: 25px;
  background-color: #F2F2F2;	
  margin-left: 5px;
  margin-right: 40px;
	border-radius: 6%;
}
.heberge p a{
  text-decoration: none;
}
/*   Fin pour Hégergements à marseille    */


/*  DEBUT Acitvités à Marseille   */
.sectio{
	position: absolute;
	display:flex;
	margin: auto;
	
	top: 931px;
	width: 1346px;
	height: 550px;
	background-color: #FFFFFF;
}
.sectio h2,p{
	margin-left: 15px;
}
.sectio h2 .act{
	top: 0px;
	left: 5px;
	text-align: left;
}
.hotel .information a{
  text-decoration: none;


}

.sectio .hot6{
	position: absolute;
	flex-direction: column;
	display: inline-block;
	top: 75px;
  left: 20px;
	margin-left: 5px;
  margin-right: 20px;
	width: 290px;
	height: 430px;
	border: 0px gray solid;
	border-top: 5px;
	border-radius: 5%;
  
}
.sectio .hot6 .imag img{
	width: 300px;
	height: 400px;
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
}
.information{
	width: 298px;
	height: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
	background-color: #FFFFFF;
  border: 1px solid #F2F2F2;  
  margin-top: -3px;
}
.information h4{
  position: absolute;
  margin-left: 10px;
  padding-bottom: 10px;
}


.hot3{
	position: absolute;
	flex-direction: column;
	display: flex;
	top: 75px;
	left: 700px;
	margin-right: 20px;
	width: 300px;
	height: 430px;
	border: 0px gray solid;
	border-top: 5px;
	border-radius: 5%;
}
.hot3 .imag img{
	width: 300px;
	height: 400px;
   border-top-left-radius: 7%;
  border-top-right-radius: 7%;
}
.hot5 {
	position: absolute;
	flex-direction: column;
	top: 75px;
  left: 370px;
	margin-right: 10px;
	width: 290px;
	height: 200px;
	border: 0px gray solid;
	border-top: 0px gray solid;
	border-bottom: 2px;
	border-radius: 3%;
} 
.hot5 .imag img{
	width: 300px;
	height: 170px;
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
}

.hot2 {
	position: absolute;
	top: 305px;
	display: flex;
	flex-direction: column;
	left: 375px;
	width: 290px;
	height: 200px;
	border: 0px gray solid;
	border-top: 7px;
	border-radius: 7%;
}

.hot2 .imag img{
	width: 290px;
	height: 170px;
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
}
.sectio .information span{
  margin-left: 10px;
}
.sectio .information{
   height: 30px;
   text-decoration: none;
}

.hot2 .information{
  width: 285px;


}

.hot1{
	position: absolute;
	flex-direction: column;
	top: 75px;
	left: 1025px;
	width: 300px;
	height: 200px;
	border: 0px gray solid;
	border-top: 7px;
	border-radius: 7%;
}
.hot1 .imag img{
	width: 300px;
	height: 170px;
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
}

.hot4 {
	position: absolute;
	top: 305px;
	flex-direction: column;
	left: 1025px;
	width: 300px;
	height: 200px;
	border: 0px gray solid;
	border-top: 5px;
	border-radius: 3px;
}
.hot4 .imag img{
	width: 300px;
	height: 170px;
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
}
/* ========Fin mise en page des activités à maseille========*/


/* MISE EN PAGE du PIED de PAGE.*/
footer{

	background-color: #F2F2F2;
}
.menu-foot{
  display: flex;
  flex-direction: row;
  top: 1540px;
  width: 1346px;
  height: 160px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;

}
.sousfoot{
  width: 30%;
	display: flex;
	flex-direction: column;
	margin-right: 205px;
	padding-left: 10px;
	padding-top: 25px;	
}

.menu-foot .sousfoot a{
	text-decoration: none;
	color: black;
}
.sousfoot a: hover{
	text-decoration: none;
	font-style: normal;
}



/* UTILISATION DU RESPONSIVE  */

/*  ICI grands écrans jusqu'à 1280px  */
@media screen and(min-width: 1389px){
	body{
		background-color: #FFFFFF;
		}
  .contain-page{
    width: 1440px;
    height: 1024px;
    margin-left: 20px;
    background-color: #FFFFFF;
    left: 0px;
    }
}


@media screen and(min-width: 768px) and (max-width: 1388px){
	body{
		background-color: #DEEBFF;
	}
}
@media screen and(max-width: 414px){
	body{
	    margin: auto;
	    height: auto;
	    background-color: orange;
	    font-family: 'Raleway', sans-serif, Verdana, Arial;
	}
  .container-page{
    display: flex;
    flex-direction: column;
    max-width: 414px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;


  }

  /*  En-tete de ma page sur mobile*/
  
  header{
    max-width: 414px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 0.8em;
    text-align: left;    
    margin-left: auto;
    margin-right: auto; 
  }
  .logo img{
    padding-top: 10px;
    width: 50px;
    height: 25px;
    margin-left: 20px;
    color: blue;
}
header nav{
  position: absolute;
  background-color: red;
  width: 400px;
  margin-left: 20px;
  margin-right: 600px;
}

  header nav ul{

    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    margin-top: 20px;
  }

  nav ul li{
    margin-right: 5px;
  }
  header nav ul li strong{
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 50px;
    left: 60px;  
  }
  header nav ul li a:hover{
    background-color: white;
  }
  #trait_dessus{
  border-top: 2px blue solid;
  width: 100px;
  margin-left: 100px;
  position: absolute;
  top: 60px;
  left: 2px;
  }
  
  
  /* partie localisation de la ville sur mobile*/
  /*
  .localise{
  	top: 0px;
    display: flex;
    max-width: 414px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8em;
    background-color: #FFFFFF;
  }
  .localise ul{
    display: flex;
    flex-direction: row;  
    top: 120px;
    width: auto;
    list-style-type: none;
  }
  .localise p{
    width: 300px;
    display: inline;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .localise ul li span{
    display: none;
  }
  .localise ul li{
    margin-left: 10px;
    width: 184px;
    font-size: 1em;
  } 
  .localise ul li i.fa-search{
    position: relative;
    display: flex;
    border-radius: 25%;
    margin-left: 156px;
    margin-right: 30px;
    color: white;
    background-color:blue;
}
.fa-search{
  top: -32px;
  width: 25px;
  height: 25px;
}

  /* Partie concernant les filtres sur mobile*/
  /*
  .filtre{
    position: absolute;
    max-width: 414px;
    top: 195px;
    left: 42px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 12px;
    padding-top: 0px;
    font-size: 0.7em;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    flex-direction: column;
    background-color: #FFFFFF;
  }
  .filtre h2{
    
  margin-top: 5px;
  margin-left: 5px;
  
}

.filtre ul{
  display: flex;
  position: absolute;
  flex-direction: row;
  flex-wrap: wrap;
 margin-left: 10px;
  width: 280px;
  top: 10px;
  height: 22px;
  
}

.filtre ul li{
  font-weight: bold;
  display: flex;
  width: auto;
  margin-right: 10px;
  margin-top: 5px;
  background-color: white;
  border-radius: 45%;
  height: 23px;
  border: 1px gray solid;
  border-radius: 26px 26px 26px 26px;  
}
.filtre p{
  position: relative;
  display: flex;
  font-size: 0.7em;
  color: black;
  margin-right: 10px;
  height: 10px;
  width: 350px;
  margin-right: 5px;
  border-radius: 40%;
  padding-left: 5px;
  padding-top: 35px;
  color: black;
  margin-top: 60px;
  margin-bottom: 5px;
}
.filtre p span{
	top: 20px;
	font-size: 1.1em;
}
.fa-info{
  content: "\ea0c";
  background-color: #DEEBFF;
  color: blue;
  height:13px;
  width: 10px; 
  border: 0.1em gray solid;
  font-size: 0.7em;
  margin-right: 5px;
  border-radius: 45%;
  margin-bottom: 15px;

}

.filtre ul li a:hover{
  background-color: rgb(111,148,208);
  color: white;
  font-weight: bold;
  font-size: 1.1em;
}

*/
  /*========== Partie: Les Plus populaires sur mobile===========*/
  
  .libelle-droite{
  	position: absolute;
    top: 935px;
    display: flex;
    flex-direction: column;
    max-width: 414px;
    left: 60px;
    margin: auto;
    background-color: #FFFFFF;

  }
  .fa-chart-line{
    margin-right: 70px;  
    display: flex;
    align-content: center;    
    color: black;
    margin-bottom: 10px;

}

  .libelle-droite h2{  
  float: right;
  font-size: 1.4em;
  margin-bottom: 0px;
  margin-left: 10px;
}
  /*  réglage de la taille des photos sur mobile  */
  /*
.libelle-droite .hot .imag img{                      
  width: 75px;
  height: 75px;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}
/* Hauteur de chaque photo et son information sur mobile  */
/*
.libelle-droite .hot{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: left;
  background-color: #FFFFFF;
  width: 150px;
  height: 75px;
  border-radius: 5%;
  border: 2px white solid;
  margin-bottom: 5px;
}
/* L'information qui accompagne la photo sur mobile */
/*
.libelle-droite .hot .information{
  display: inline-block;    
  width: 75px;
  height: 75px;
  margin-left: 5px;
  font-size: 0.9em;
} 


  /*=============Partie HEBERGEMENT à Marseille =================*/
  .heberge{

    max-width: 400px;
    height: auto;
    
    left: 50px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: #F2F2F2;
  }
  ul .sectio-hotel{
    display: flex;
    flex-direction: column;

  }
  /*
  .heberge .heb{
  position: relative;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 0px white solid;
  height: 200px;
  width: 315px;
  top: -17px;
  margin-bottom: 10px;
  margin-left: 45px;
  margin-top: 0px;  
  padding-bottom: 5px;
  border-radius: 6%;
}

.heberge .heb figure img{
  width: 315px;
  height: 150px;
  border: 0px white solid;
  border-top-right-radius: 6%;
  border-top-left-radius: 6%;
}

.heberge .heb figure figcaption{
  background-color: white;
  padding-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  width: 308px;
  height: 52px;
  border: 0px gray solid;
  border-bottom-right-radius: 7%;
  border-bottom-left-radius: 7%;
}
.heberge p strong{
  margin-left: 25px;
}
.heberge h2{
  margin-left: 20px;
  font-size: 1em;
}


  /*  Partie ACTIVITE à Marseille  */

  /* Container activités à Marseille */
  #activite{
  	position: absolute;
    max-width: 414px;
    height: auto;
    top: 2350px;
    display: inline-flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    left: 40px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;

  }
  .sectio{
  	background-color: #FFFFFF;
  }
  
.sectio h2{
  margin-left: 20px;
  font-size: 1.1em;

}
/* Mise en colonne manuelle de ces div 
  Car je n'arrive pas avec le flex   */
.hot6, .hot5, .hot4, .hot3, .hot2, .hot1 {
  top: 80px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 340px;
  height: 190px;
  border: 0px gray solid;
  border-top: 1px gray solid;
  border-radius: 3%;
} 

/* format de chaque image */
.imag img{
  width: 340px;
  height: 140px;
   border-top-left-radius: 7%;
  border-top-right-radius: 7%;
}
/* reglage de la hauteur du figcaption */
.information{
  width: 340px;
  height: 30px;
  background-color: white;
  border: 0px gray solid;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.hot3 {
  position: absolute;
  top: 675px;
  left: 8px;
  display: flex;
  flex-direction: column;
  margin-left: 29px;
  width: 340px;
  height: 190px;
  border: 0px gray solid;
  border-top: 1px gray solid;
  border-radius: 3%;
} 
#activite .hot3 .imag img{
  width: 340px;
  height: 140px;
   border-top-left-radius: 7%;
  border-top-right-radius: 7%;
}
#activite .hot3 .information{
  width: 338px;
  height: 30px;
  background-color: white;
  border: 0px gray solid;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}
#activite .hot5 {
  top: 275px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 340px;
  height: 190px;
  border: 0px gray solid;
  border-top: 1px gray solid;
  border-radius: 3%;
}
.imag img{
  width: 340px;
  height: 140px;
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
}

.hot2 {
  top: 468px;
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 190px;
  margin-left: 30px;
  border: 1px gray solid;
  border-top: 7px;
  border-radius: 7%;
}

#activite .hot2 .imag img{
  width: 340px;
  height: 140px;
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
}

#activite .hot1{
  top:860px;
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 190px;
  margin-left: 35px;
  border:0px gray solid;
  border-top: 7px;
  border-radius: 7%;
}
#activite .hot1 .imag img{
  width: 340px;
  height: 140px;
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
}

#activite .hot4 {
  top: 1047px;
  left: 5px;
  flex-direction: column;
  width: 340px;
  height: 190px;
  margin-left: 30px;
  border: 0px white solid;
  border-top: 5px;
  border-radius: 3px;
}
#activite .hot4 .imag img{
  width: 340px;
  height: 140px;
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
}

  /* Partie PIED DE PAGE */
  footer{
    max-width: 414px;
    margin: auto;  
    flex-direction: 
    
    background-color: #FFFFFF;
   
  }
  

  .menu-foot{
    display: flex;
    flex-direction: column;
  }



  footer .menu-foot .sousfoot strong{
    font-size: 1.5em;
    font-weight: bold;
    color: black;
  }
  .footer menu-foot .sousfoot ul li{
  	padding-top: 5px;
  }

  .menu-foot ul{
    display: inline-table;
    width: 414px;
    font-size: 1.2em;
    list-style-type: none;
  }
  
  .sousfoot ul li a:hover{
    font-weight: bold;
    width: auto;
    border-bottom: 1px;
    background-color: gray;
  }

}
